body { 
    background-image: url("/images/background.jpg");
    background-size: cover;
    color: rgb(255, 255, 6);
    font-weight: bold;
    font-family: 'Righteous', cursive;
 }

#wrapper {
width: 960px;
margin-left: auto;
margin-right: auto;
padding-top: 5%;
}
#articles {
display: inline-block;
overflow: auto;
color: rgb(69, 24, 190);
width: 60%;
height: 700px;
background-image: url("/images/banner1.jpg");
background-size: cover;
}
#notes {
float: right;
width: 30%;

}
textarea, input {
display: block;
width: 100%;
background-image: url("/images/banner1.jpg");
background-size: cover;
}
input {
height: 36px;
font-size: 24px;
}
textarea {
height: 200px;
font-size: 18px;
}
.jumbotron{
    background-image: url("/images/banner1.jpg");
    background-size: cover;
}